body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #fff;
    animation: hinge 2s ease forwards;
  }
  
  @keyframes hinge {
    0% {
      transform-origin: top left;
      animation-timing-function: ease-in-out;
      opacity: 1;
    }
    20%, 60% {
      transform: rotate3d(0, 0, 1, 80deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    40%, 80% {
      transform: rotate3d(0, 0, 1, 60deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translate3d(700px, 700px, 0);
      opacity: 0;
    }
  }
  