body {
    background-color: #000;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spinOut 2s ease-in-out forwards;
  }
  
  @keyframes spinOut {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) rotate(720deg);
      opacity: 0;
    }
  }
  